* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 150px;
}

ul {
    list-style: none;
}

button {
    padding: 10px;
    border-radius: 5px;
}

.head-left {
    height: 100%;
    width: 40%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-right {
    height: 100%;
    width: 60%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
    width: 30%;
}

.logo img {
    width: 30px;
    margin-left: 50px;
}

.right-part-left {
    width: 70%;
}

.right-part-left p {
    display: inline-block;
}

#personale {
    margin-right: 50px;
}

.head-right>ul>li {
    display: inline-block;
    margin-right: 40px;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    padding: 10px;
    border: 1px solid black;
    display: none;
}
.dropdown.wider {
    left: 20%;
}

.dropdown.active {
    display: block;
}
.submenu {
    float: left;
    margin-right: 20px;
    padding: 0 10px;
}
